<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="id=edge">
    <title>Document</title>
</head>
<body>
    {{range. }}
    Here is the data: {{.}}<br>
    {{.First}}<br>
    Last: {{.Last}}
    <br><br>
    {{end}}
</body>
</html>
